<!-- CTA -->
	<section id="cta">

		<h2>Sign up for beta access</h2>
		<p>Get on the list to get early access and informed on related developments</p>

		<form action="//berlin.us15.list-manage.com/subscribe/post?u=4817715aeeb39d56f85d1c1ac&amp;id=fefec8099f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<div class="row uniform half collapse-at-2">
				<div class="8u">
					<input type="email" id="email" placeholder="Email Address" name="EMAIL"/>
				</div>
				<div class="4u">
					<input type="submit" value="Sign Up" class="fit" />
				</div>
			</div>
		</form>
	</section>