<!-- Header -->
	<header id="header" class="alt">
		<h1><a href="{{ site.baseurl }}/">{{ site.name }}</a> by {{ site.authors }}</h1>
		<nav id="nav">
			<ul>
				<li><a href="{{ site.baseurl }}/">Main</a></li>
				<li><a href="{{ site.baseurl }}/#features">Features</a></li>
				<li><a href="{{ site.baseurl }}/#usecases">Use-cases</a></li>
				<li><a href="{{ site.baseurl }}/data-sources.html">Data Sources</a></li>
				<li><a href="#cta" class="button">Sign Up</a></li>
				<!-- <li><a href="{{ site.appurl }}" target="_blank" class="button">Launch App</a></li>-->
			</ul>
		</nav>
	</header>
